.dd-wrapper {
  position: relative;
  width: 33%;
}

.dd-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 3rem;
}

.dd-list {
  color: black;
  padding: 1rem;
  width: 20rem;
  max-height: 40rem;
  background-color: white;
  position: absolute;
  z-index: 2;
  overflow-y: scroll;
}
