.badge-container {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: rgb(175, 28, 28);
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
