.map-section {
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.right-side {
  width: inherit;
  height: inherit;
  max-height: 80vh;
  background: whitesmoke;
  overflow: scroll;
}

.restaurant-image {
  flex: 0 0 33.33%;
  width: 30rem;
}

.hero-container {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--image {
    height: 100%;
    @include respond(tab-port) {
      display: none;
    }
  }
}
