.rating-badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.rating-text {
  text-align: center;
}

.rating-explanation-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .rating-explanation-header-container {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

  }
}
