.selections {
  width: 100%;
  &-container {
    transition: all 0.5s;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    // width: 60%;
    margin: 0 auto;
    z-index: 2;
    transition: all 0.5s;

    &--white {
      @extend .selections-container;
      background: var(--color-transparent-white);
      color: black;
      z-index: 3; // over mapbox info
    }
  }

  &--hide {
    visibility: hidden;
    height: 0;
  }

  &--show {
    transition: all 1s ease;
    visibility: visible;
    height: auto;
  }
}

.user-selections__form {
  position: absolute;
  width: 100%;
  background-color: var(--color-transparent-white);
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
  position: sticky;
  top: 0;
}

.selection {
  flex: 1;
  &--header {
    font-size: 2rem;
  }
  &--checkboxes {
    display: flex;
    flex-wrap: wrap;
  }
  &--checkbox {
    flex: 0 0 50%;
  }
}

.full-width {
  flex: 0 0 100%;
}
