.restaurant-details-container {
  flex: 1;
  box-sizing: border-box;
  background: whitesmoke;
}

.restaurant-details {
  padding: 2rem;
  height: 100%;
  color: black;
  background-color: whitesmoke;
  &__header {
    &-main {
      width: fit-content;
      font-size: 3.5rem;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.01);
        text-decoration: underline;
      }
      a {
        color: #0c6bed;
      }
    }
    &-sub {
      display: flex;
      flex-direction: column;
    }
  }
  &__info {
    font-size: 1.5rem;
    // padding: 1rem 0;
    width: 90%;
    .detail {
      margin: 1rem 0;
      &__header {
        font-weight: 700;
        font-size: 1.6rem;
      }
    }
  }
}

.restaurants-container {
  width: 100%;
  height: 100%;
  color: black;

  &__restaurants {
    width: 100%;
    height: 100%;
    &__restaurant {
      display: flex;
      margin: 1rem 0;
    }
  }
}

.dollar-sign {
  font-size: 1.4rem;
  &--green {
    color: rgb(2, 88, 2);
    font-weight: 700;
    font-size: 1.5rem;
  }
}

