.restaurant-details-container {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  background: whitesmoke;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  height: 100%;
  overflow: scroll;
  color: black;
  background-color: whitesmoke;
  &__header {
    display: flex;
    justify-content: space-between;
    a {
      color: var(--color-link-blue);
    }
    &-main {
      width: fit-content;
      font-size: 3.5rem;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.01);
        text-decoration: underline;
      }
      a {
        color: var(--color-link-blue);
      }
    }
    &-sub {
      display: flex;
      flex-direction: column;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    overflow: scroll;
    min-height: 60%;
    // padding: 1rem 0;
    .menu {
      a {
        color: var(--color-link-blue);
      }
    }
    .detail {
      overflow: scroll;
      display: flex;
      width: 90%;

      margin: 1rem 0;
      &__header {
        font-weight: 700;
        font-size: 1.6rem;
        margin-right: 1rem;
      }
      &__text {
        align-self: center;
        overflow: scroll;
        display: block;
      }
      &__description {
        // height: 13rem;
        align-self: center;
        overflow: scroll;
        display: block;
      }
    }
  }
}

.restaurants-container {
  width: 100%;
  height: 100%;
  color: black;

  &__restaurants {
    width: 100%;
    height: 100%;
    &__restaurant {
      display: flex;
      margin: 1rem 0;
    }
  }
}

.left {
  flex: 0 0 70%;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.report-problem {
  cursor: pointer;
  transition: all 1s ease;
  &:hover {
    transform: scale(1.1);
    letter-spacing: 1px;
  }
}

.dollar-sign {
  font-size: 1.2rem;
  &--green {
    color: rgb(2, 88, 2);
    font-weight: 700;
    font-size: 1.25rem;
  }
}
