.dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
  position: sticky;
  top: 0
}

.selection {
  flex: 1;
  &--header {
    font-size: 2rem;
  }
  &--checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
   &--checkbox {
    flex: 0 0 50%;  
   }
}

.full-width {
  flex: 0 0 100%;
}
