.home-container {
  position: relative;
}

.selections {
  width: 100%;
  &-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    // width: 60%;
    margin: 0 auto;
    z-index: 2;
    transition: all 0.5s;

    &--white {
      @extend .selections-container;
      background: var(--color-transparent-white);
      color: black;
      z-index: 3; // over mapbox info
    }
  }

  &--hide {
    visibility: hidden;
    height: 0;
  }

  &--show {
    transition: all 1s ease;
    visibility: visible;
    height: auto;
  }
}

.map-section {
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.right-side {
  width: inherit;
  height: inherit;
  // padding: 2rem;
}

.restaurants-container {
  width: 100%;
  height: 100%;
  color: black;
  margin: 3rem 0;

  &--header {
    font-size: 2rem;
  }

  &__restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-height: 650px;
    overflow: scroll;
  }
  .restaurant {
    max-width: 130rem;
    height: 35rem;
    display: flex;
    margin: 1.5rem 0;
    @include respond(tab-port) {
      height: 40rem;
      flex-direction: column;
      margin: 2rem 0;
    }
  }
}

.restaurant-image {
  flex: 0 0 33.33%;
  width: 30rem;
}

.hero-container {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: whitesmoke;
}

.image-div {
  flex: 0 0 33.33%;
  cursor: pointer;
}

.restaurant-image-div {
  flex: 0 0 33.33%;
  border-radius: 10px 0 0 10px;
  height: 100%;
  cursor: pointer;
  @include respond(tab-port) {
    border-radius: 10px 10px 0 0;
    height: 50%;
  }
}

.no-restaurants {
  font-size: 3rem;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
