.home-container {
  position: relative;
}

.restaurants-section {
  width: 80%;
  margin: 0 auto;
  @include respond(tab-land) {
    width: 100%;
  }
}

.no-restaurants {
  font-size: 3rem;
  min-height: 70vh;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
