.header-container {
  font-size: 2rem;
  min-height: 10vh;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.logo-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo-main {
    font-family: var(--logo-font);
    line-height: 6rem;
    font-size: 6rem;
    letter-spacing: 0.6rem;
    font-weight: 500;
  }
  &-sub {
    font-family: var(--standard-font);
    font-size: 2rem;
  }
}

.login-btn {
  cursor: pointer;
}
