.header-container {
  font-size: 2rem;
  min-height: 10vh;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.logo {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  font-family: var(--logo-font);
  font-size: 6rem;
}

.login-btn {
  cursor: pointer;
}